In [11]:
from bs4 import BeautifulSoup
from urllib.request import Request, urlopen
import numpy as np

# site= "https://www.johnsand.co/for-sale/properties-available-in-london/?sort_by=newest"
# hdr = {'User-Agent': 'Mozilla/5.0'}
# req = Request(site,headers=hdr)
# page = urlopen(req)
# soup = BeautifulSoup(page, features="html.parser")

In [2]:
# page_count = int(soup.find("span", {"class": "pagination__total-pages"}).text.split(" ")[1])

# card =  cards[0].text.strip().splitlines()

In [4]:
BASE_URL = "https://www.johnsand.co/for-sale/properties-available-in-london/{:d}/?sort_by=newest"

def get_page_count():
    site= "https://www.johnsand.co/for-sale/properties-available-in-london/?sort_by=newest"
    hdr = {'User-Agent': 'Mozilla/5.0'}
    req = Request(site,headers=hdr)
    page = urlopen(req)
    soup = BeautifulSoup(page, features="html.parser")
    return int(soup.find("span", {"class": "pagination__total-pages"}).text.split(" ")[1])

def get_card_list_for_site(site):
#     site= "https://www.johnsand.co/for-sale/properties-available-in-london/?sort_by=newest"
    hdr = {'User-Agent': 'Mozilla/5.0'}
    req = Request(site,headers=hdr)
    page = urlopen(req)
    soup = BeautifulSoup(page, features="html.parser")

    cards = soup.find_all("article", {"class": "grid-item"})

    card_list = []

    for i in range(len(cards)):

        card =  cards[i].text.strip().splitlines()
        url = cards[i].find_all(href=True)[0]['href']

        while("" in card) : 
            card.remove("")
        for j in range(len(card)):
            card[j] = card[j].rstrip(" ")

        inter= card[3].split("(s)")
        while("" in inter) : 
            inter.remove("")

        numbers= []

    #     a_string = inter[0]
        for a_string in inter:
            numbers.append([int(word) for word in a_string.split() if word.isdigit()])
        numbers = np.array(numbers).flatten()

        try:    
    #         print(i)
            card.append(numbers[0])
            card.append(numbers[1])
        except:
            card.append("NA")
            card.append("NA")
        card.append(url)
        card_list.append(card)
    return card_list

In [12]:
page_count = get_page_count()
all_cards = []
# get all_cards(page_count):
for page_id in range(page_count):
    site_url = BASE_URL.format(page_id)
    all_cards.extend(get_card_list_for_site(site=site_url))

In [20]:
len(all_cards)

396

In [21]:
all_cards[1:4]

[['Wardian',
  ' West Tower, London, E14',
  '£510,000',
  'Suite1 Bath(s)',
  'View Property',
  'NA',
  'NA',
  'https://www.johnsand.co/properties/wardian-2552769/'],
 ['13B.05.04',
  ' John Cabot House, Royal Wharf, E16',
  '£593,250',
  '2 Bed(s)2 Bath(s)',
  'View Property',
  2,
  2,
  'https://www.johnsand.co/properties/13b-05-04-2552402/'],
 ['13D.06.07',
  ' John Cabot House, Royal Wharf, E16',
  '£651,000',
  '2 Bed(s)2 Bath(s)',
  'View Property',
  2,
  2,
  'https://www.johnsand.co/properties/13d-06-07-2552361/']]

In [13]:
page_id = 2
BASE_URL = "https://www.johnsand.co/for-sale/properties-available-in-london/{:d}/?sort_by=newest"
site_url = BASE_URL.format(page_id)

In [7]:
def get_card_list_for_site(site):
#     site= "https://www.johnsand.co/for-sale/properties-available-in-london/?sort_by=newest"
    hdr = {'User-Agent': 'Mozilla/5.0'}
    req = Request(site,headers=hdr)
    page = urlopen(req)
    soup = BeautifulSoup(page, features="html.parser")

    cards = soup.find_all("article", {"class": "grid-item"})

    card_list = []

    for i in range(len(cards)):

        card =  cards[i].text.strip().splitlines()
        url = cards[i].find_all(href=True)[0]['href']

        while("" in card) : 
            card.remove("")
        for j in range(len(card)):
            card[j] = card[j].rstrip(" ")

        inter= card[3].split("(s)")
        while("" in inter) : 
            inter.remove("")

        numbers= []

    #     a_string = inter[0]
        for a_string in inter:
            numbers.append([int(word) for word in a_string.split() if word.isdigit()])
        numbers = np.array(numbers).flatten()

        try:    
    #         print(i)
            card.insert(3, numbers[0])
            card.insert(4, numbers[1])
        except:
            card.insert(3, "NA")
            card.insert(4, "NA")
        card.inset(5, url)
        card_list.append(card)
    return card_list

In [14]:
get_card_list_for_site(site=site_url)

[['John Cabot House',
  ' Royal Wharf, E16',
  '£635,000',
  '2 Bed(s)2 Bath(s)',
  'View Property',
  2,
  2,
  'https://www.johnsand.co/properties/john-cabot-house-2549473/'],
 ['Wardian',
  ' West Tower, London, E14',
  '£960,000',
  '2 Bed(s)2 Bath(s)',
  'View Property',
  2,
  2,
  'https://www.johnsand.co/properties/wardian-2549423/'],
 ['18.02.07 Marco Polo',
  ' Royal Wharf, E16',
  '£625,000',
  '2 Bed(s)2 Bath(s)',
  'View Property',
  2,
  2,
  'https://www.johnsand.co/properties/18-02-07-marco-polo-2549235/'],
 ['13C.02.05 John Cabot House',
  ' Royal Wharf, E16',
  '£577,500',
  '2 Bed(s)2 Bath(s)',
  'View Property',
  2,
  2,
  'https://www.johnsand.co/properties/13c-02-05-john-cabot-house-2549225/'],
 ['13D.04.03 John Cabot House',
  ' Royal Wharf, E16',
  '£609,000',
  '2 Bed(s)2 Bath(s)',
  'View Property',
  2,
  2,
  'https://www.johnsand.co/properties/13d-04-03-john-cabot-house-2549216/'],
 ['13D.04.07',
  ' John Cabot House, Royal Wharf, E16',
  '£640,500',
  '2 Bed(s)2 Bath(s)',
  'View Property',
  2,
  2,
  'https://www.johnsand.co/properties/13d-04-07-2549208/'],
 ['Belvedere Row',
  ' White City Living, White City, W12',
  '£1,100,000',
  '2 Bed(s)2 Bath(s)',
  'View Property',
  2,
  2,
  'https://www.johnsand.co/properties/belvedere-row-2549193/'],
 ['Wardian',
  ' East Tower, London, E14',
  '£560,000',
  'Suite1 Bath(s)',
  'View Property',
  'NA',
  'NA',
  'https://www.johnsand.co/properties/wardian-2548928/'],
 ['Legacy Building',
  ' Embassy Gardens, Nine Elms, SW11',
  '£1,200,000',
  '2 Bed(s)2 Bath(s)',
  'View Property',
  2,
  2,
  'https://www.johnsand.co/properties/legacy-building-2548901/'],
 ['Park View',
  ' Royal Wharf, London, E16',
  '£435,000',
  '1 Bed(s)1 Bath(s)',
  'View Property',
  1,
  1,
  'https://www.johnsand.co/properties/park-view-2548366/'],
 ['Wardian',
  ' West Tower, London, E14',
  '£472,905',
  'Suite1 Bath(s)',
  'View Property',
  'NA',
  'NA',
  'https://www.johnsand.co/properties/wardian-2548289/'],
 ['Argo',
  ' Goodluck Hope, London, E14',
  '£728,000',
  '2 Bed(s)2 Bath(s)',
  'View Property',
  2,
  2,
  'https://www.johnsand.co/properties/argo-2547622/']]

In [16]:
a =[2, 3, 5, 6]

In [17]:
a.insert(1, "dsa")

In [18]:
a

[2, 'dsa', 3, 5, 6]

In [4]:
cards[0].text.strip("\r\n").strip("\n")

'          Marco Polo        \n Royal Wharf, London, E16\n\n\n£725,000 \n\n\n\n\n2 Bed(s)2 Bath(s)\nView Property'

In [35]:
card =  cards[0].text.strip().splitlines()
while("" in card) : 
    card.remove("")
for j in range(len(card)):
    card[j] = card[j].rstrip(" ")

inter= card[3].split("(s)")
while("" in inter) : 
    inter.remove("")

numbers= []

a_string = inter[0]
for a_string in inter:
    numbers.append([int(word) for word in a_string.split() if word.isdigit()])
numbers = np.array(numbers).flatten()

print(i)
card.append(numbers[0])
card.append(numbers[1])

4

In [39]:
card =  cards[0].text.strip().splitlines()
while("" in card) : 
    card.remove("")
for j in range(len(card)):
    card[j] = card[j].rstrip(" ")
inter= card[3].split("(s)")
while("" in inter) : 
    inter.remove("")

In [40]:
inter

['2 Bed', '2 Bath']

In [41]:
card

['Marco Polo',
 ' Royal Wharf, London, E16',
 '£725,000',
 '2 Bed(s)2 Bath(s)',
 'View Property']

In [49]:
card =  cards[0].text.strip().splitlines()
while("" in card) : 
    card.remove("")
for j in range(len(card)):
    card[j] = card[j].rstrip(" ")
inter= card[3].split("(s)")
while("" in inter) : 
    inter.remove("")

card_list = []

for i in range(len(cards)):

    card =  cards[i].text.strip().splitlines()
    while("" in card) : 
        card.remove("")
    for j in range(len(card)):
        card[j] = card[j].rstrip(" ")

    inter= card[3].split("(s)")
    while("" in inter) : 
        inter.remove("")

    numbers= []

    a_string = inter[0]
    for a_string in inter:
        numbers.append([int(word) for word in a_string.split() if word.isdigit()])
    numbers = np.array(numbers).flatten()
    
    try:    
#         print(i)
        card.append(numbers[0])
        card.append(numbers[1])
    except:
        card.append("NA")
        card.append("NA")
    card_list.append(card)

In [48]:
card_list

[['Marco Polo',
  ' Royal Wharf, London, E16',
  '£725,000',
  '2 Bed(s)2 Bath(s)',
  'View Property',
  2,
  2],
 ['Wardian',
  ' West Tower, London, E14',
  '£510,000',
  'Suite1 Bath(s)',
  'View Property',
  'NA',
  'NA'],
 ['13B.05.04',
  ' John Cabot House, Royal Wharf, E16',
  '£593,250',
  '2 Bed(s)2 Bath(s)',
  'View Property',
  2,
  2],
 ['13D.06.07',
  ' John Cabot House, Royal Wharf, E16',
  '£651,000',
  '2 Bed(s)2 Bath(s)',
  'View Property',
  2,
  2],
 ['Wardian',
  ' East Tower, London E14',
  '£575,000',
  '1 Bed(s)1 Bath(s)',
  'View Property',
  1,
  1],
 ['John Cabot',
  ' Royal Wharf, London, E16',
  '£575,000',
  '2 Bed(s)2 Bath(s)',
  'View Property',
  2,
  2],
 ['John Cabot',
  ' Royal Wharf, London, E16',
  '£435,000',
  '1 Bed(s)1 Bath(s)',
  'View Property',
  1,
  1],
 ['Pan Peninsula',
  ' East Tower, London, E14',
  '£500,000',
  '1 Bed(s)1 Bath(s)',
  'View Property',
  1,
  1],
 ['13D.07.07 John Cabot',
  ' Royal Wharf, E16',
  '£656,250',
  '2 Bed(s)2 Bath(s)',
  'View Property',
  2,
  2],
 ['Chi Building',
  ' Crowder Street, London, E1',
  '£550,000',
  '2 Bed(s)1 Bath(s)',
  'View Property',
  2,
  1],
 ['Commodore House',
  ' Royal Wharf, London, E16',
  '£575,000',
  '2 Bed(s)2 Bath(s)',
  'View Property',
  2,
  2],
 ['Marco Polo',
  ' Royal Wharf, London, E16',
  '£1,150,000',
  '3 Bed(s)2 Bath(s)',
  'View Property',
  3,
  2]]

In [25]:
numbers

array([], dtype=float64)

In [26]:
card

['Wardian',
 ' West Tower, London, E14',
 '£510,000',
 'Suite1 Bath(s)',
 'View Property']

In [27]:
inter= card[3].split("(s)")
while("" in inter) : 
    inter.remove("")

In [28]:
inter

['Suite1 Bath']

In [45]:
numbers= []

In [46]:
inter

['Suite1 Bath']

In [44]:
# # a_string = inter[0]
# if a_string != "Bed":
#     numbers.appens(a_sptring)
for a_string in inter:
    if inter[1] != "B":
#     numbers.appens(inter)
#     numbers.append([int(word) for word in a_string.split() if word.isdigit()])
        print(inter)

IndexError: list index out of range

In [34]:
a_string.split()

['Suite1', 'Bath']

In [98]:
np.array(numbers).flatten()

array([2, 2])

In [85]:
[int(word) for word in a_string.split() if word.isdigit()]

[2]

In [39]:
for i in range(len(a)):
    a[i] = a[i].rstrip(" ")

In [31]:
numbers

[[]]